<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Dados Médicos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1><strong>Avaliação de Doença Cardíaca</strong></h1>
        <form action="/prever" method="post">
            <label for="age">Idade (em anos):</label>
            <input type="number" id="age" name="age" required>

            <label for="sex">Sexo:</label>
            <select id="sex" name="sex" required>
                <option value="0">Feminino</option>
                <option value="1">Masculino</option>
            </select>

            <label for="chest pain">Tipo de Dor no Peito:</label>
            <select id="chest pain" name="chest pain" required>
                <option value="1">Angina típica</option>
                <option value="2">Angina atípica</option>
                <option value="3">Dor não anginal</option>
                <option value="4">Assintomático</option>
            </select>

            <label for="resting bp s">Pressão Arterial em Repouso (mm Hg):</label>
            <input type="number" id="resting bp s" name="resting bp s" required>

            <label for="cholesterol">Colesterol Sérico (mg/dl):</label>
            <input type="number" id="cholesterol" name="cholesterol" required>

            <label for="fasting blood sugar">Açúcar no Sangue em Jejum (0 ou 1 > 120 mg/dl):</label>
            <select id="fasting blood sugar" name="fasting blood sugar" required>
                <option value="0">Menor que 120mg/dl</option>
                <option value="1">Igual ou maior que 120mg/dl</option>
            </select>

            <label for="resting ecg">Eletrocardiograma em Repouso:</label>
            <select id="resting ecg" name="resting ecg" required>
                <option value="0">normal</option>
                <option value="1">onda anormal</option>
                <option value="2">provável ou definitiva insuficiência ventricular esquerda </option>
            </select>

            <label for="max heart rate">Frequência Cardíaca Máxima Alcançada:</label>
            <input type="number" id="max heart rate" name="max heart rate" required>

            <label for="exercise angina">Angina Induzida por Exercício (0 ou 1):</label>
            <select id="exercise angina" name="exercise angina" required>
                <option value="0">não</option>
                <option value="1">sim</option>
            </select>

            <label for="oldpeak">Depressão ST:</label>
            <input type="number" id="oldpeak" name="oldpeak" required>

            <label for="ST slope">Inclinação dos batimentos cardíacos durante o pico do exercício:</label>
            <select id="ST slope" name="ST slope" required>
                <option value="0">Sobe</option>
                <option value="1">Permanece na mesma média</option>
                <option value="2">Desce</option>
            </select>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>

